<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--Load the AJAX API for Google chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/assets/font/css/open-iconic.css" rel="stylesheet">

    @*pour le jquery*@
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light col-lg-12" style="background-color: green; position:fixed; z-index:99; height:10%">
        <a class="navbar-brand col-lg-2" href="#">IMMOWHAT</a>
        <span class="col-lg-6" style="background-color: grey">The true value of your property <span class="sr-only">(current)</span></span>




        @{
            ImmoWhatApp.Models.MembreModels moi = (ImmoWhatApp.Models.MembreModels)Session["moi"];
            if (Session["moi"] == null)
            {
                <nav class="nav col-lg-3">
                    <a class="nav-link col-lg" href="#">@Html.ActionLink("se connecter", "connexion", "Account", new { area = "" }, null)</a>
                    <a class="nav-link col-lg" href="#" id="deconnexion">@Html.ActionLink("s'inscrire", "CreerCompte", "Account", new { area = "" }, null)</a>
                </nav>
            }
            else
            {
                <nav class="nav col-lg-3">
                    <a class="nav-link col-lg" href="#">mon profile</a>
                    <a class="nav-link col-lg" href="#" id="deconnexion">se deconnecter</a>
                </nav>

            }
        }
        <ul class="nav navbar-nav col-lg-1">
            <li class="nav-item dropdown col-lg-1 ">

                @*<div class="btn-group dropleft">
                        <button id="aaaaa" type="button" class="btn btn-secondary btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FR
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" id="langue">
                            <a id="lnEN" class="dropdown-item" href="EN">@Html.ActionLink("EN", "SetCulture", "Home", new { culture = "en" }, null)</a>
                            <a id="lnFR" class="dropdown-item" href="FR">@Html.ActionLink("FR", "SetCulture", "Home", new { culture = "fr" }, null)</a>
                            <a id="lnNL" class="dropdown-item" href="NL">@Html.ActionLink("NL", "SetCulture", "Home", new { culture = "nl" }, null)</a>
                        </div>
                    </div>*@
                <select name="langue" id="langue" class="btn btn-danger dropdown-toggle">
                    @{
                        var langue = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
                        if (langue == "fr")
                        {
                            <option value="fr" selected="selected">FR</option>
                            <option value="en">EN</option>
                            <option value="nl">NL</option>
                        }
                        else if (langue == "en")
                        {
                            <option value="fr">FR</option>
                            <option value="en" selected="selected">EN</option>
                            <option value="nl">NL</option>
                        }
                        else
                        {
                            <option value="fr">FR</option>
                            <option value="en">EN</option>
                            <option value="nl" selected="selected">NL</option>
                        }

                    }
                </select>

            </li>
        </ul>
    </nav>

    <div class="body-content" style="padding-top:5%">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <div id="modal_connection" style="display:none">
        <p id="modalTexte" class="modal-contents">aaaaaaa</p>
    </div>
    <script>



    </script>
    <script>
        $('#deconnexion').click(function () {
            $.ajax({
                type: 'POST',
                datatype: 'json',
                url: '@Url.Action("deconnexion", "Account")',
                success:
                function (response) {
                    if (response.result != "OK") {
                        $('#modalTexte').html("probleme detecté");
                        $('#modal_connection').dialog({
                            open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "400",
                            modal: true,
                            title: '@Resource.desole',
                            buttons: {
                                "ok": function () { $(this).dialog("close") }
                            }
                        })
                    }
                    else {
                        $('#modalTexte').html("au revoir " + " " + response.nom + " " + response.prenom);
                        $('#modal_connection').dialog({

                            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "400",
                            modal: true,
                            title: 'au revoir',

                            buttons: {
                                "ok": function () {
                                    $(this).dialog("close");
                                    location.href = "../Home/Index";
                                }
                            }
                        });

                    }
                },
                error:
                function (response) {
                    alert("un problème a été détecté... " + response.nom);
                }
            })
        });



    </script>

    <script>
        $('#langue').change(function () {
            var langue = $('#langue').val();
            $.ajax({
                url: '@Url.Action("SetCulture", "Home")',
                data: { culture: langue },
                success:
                function () {
                    location.reload()
                },
                error:
                function (response) {
                    alert("un problème a été détecté... " + response.nom);
                }
            })
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- inclusion des libraries jQuery et jQuery UI (fichier principal et plugins) -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

    
    @*script pour la map de GoogleMaps*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap&sensor=false&amp;libraries=places"></script>

</body>
</html>