<!DOCTYPE html>
<html style="min-height:100%">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <!--Load the AJAX API for Google chart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/assets/font/css/open-iconic.css" rel="stylesheet">

    @*pour le jquery*@
    <script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
</head>
<body class="h-100 w-100 p-0 m-0" style="min-height:100%;width:100%; background-color:forestgreen">
    <!--Navbar-->

    <nav style="background-color:green;  z-index:99; height:8vh" class="fixed-top navbar navbar-expand-lg navbar-light warning-color lighten-5 justify-content-between">

        <!-- Navbar brand -->
        <div>
            <a id="backToHome" class="navbar-brand" href="#">Immowhat</a>

            <span class="navbar-text white-text">
                The true value of your property
            </span>
        </div>
        <div>
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">
                <ul class="navbar-nav mr-auto">

                    @{
                        if (Session["moi"] == null)
                        {
                            <!-- Links -->
                            <li class="nav-item">
                                <a id="btnConnexion" class="nav-link" href="#">se connecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link inscription" href="#">s'inscrire</a>
                            </li>
                        }
                        else
                        {
                            ImmoWhatApp.Models.MembreModels moi = (ImmoWhatApp.Models.MembreModels)Session["moi"];
                            if (moi.roleUser == "1")
                            {
                                <!-- Links -->
                                <li class="nav-item">
                                    <a class="nav-link deconnexion" href="#">se déconnecter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link checkProfile" href="#">mon profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">admin</a>
                                </li>
                            }
                            else
                            {
                                <!-- Links -->
                                <li class="nav-item">
                                    <a class="nav-link deconnexion" href="#">se déconnecter</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link checkProfile" href="#">mon profile</a>
                                </li>
                            }
                        }
                    }
                    @{
                        var langue = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();

                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@langue</a>
                            <div class="dropdown-menu dropdown-primary dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                @if (langue == "fr")
                                {
                                    <button class="dropdown-item langue active" type="button" value="fr">FR</button>
                                    <button class="dropdown-item langue" type="button" value="nl">NL</button>
                                    <button class="dropdown-item langue" type="button" value="en">EN</button>
                                }
                                else if (langue == "en")
                                {
                                    <button class="dropdown-item langue" type="button" value="fr">FR</button>
                                    <button class="dropdown-item langue" type="button" value="nl">NL</button>
                                    <button class="dropdown-item langue active" type="button" value="en">EN</button>
                                }
                                else
                                {
                                    <button class="dropdown-item langue" type="button" value="fr">FR</button>
                                    <button class="dropdown-item langue active" type="button" value="nl">NL</button>
                                    <button class="dropdown-item langue" type="button" value="en">EN</button>
                                }

                            </div>
                        </li>
                    }
                </ul>
                <!-- Links -->
            </div>

        </div>
        <!-- Collapsible content -->

    </nav>





    <div class="body-content" style="padding-top:8vh;  height:92vh;">
        @RenderBody()

       
        <footer  style="background-color:#edeaea; z-index:98; height:8vh; width:100%; position:page; left:0; bottom:0;">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
    


    <div id="modal_connection" style="display:none">
        <p class="modal-contents modalTexte"></p>
    </div>

    <script>


        $('#backToHome').click(function () {
            window.location = '@Url.Action("Index", "Home")';
        });
        $('.inscription').click(function () {
            window.location = '@Url.Action("CreerCompte", "Account")';
        })

        $('.checkProfile').click(function () {
            window.location = '@Url.Action("CheckMyProfile", "Account")';
        })

        $('#btnConnexion').click(function () {

            $.ajax({
                type: 'GET',
                datatype: 'html',
                url: '@Url.Action("Connexion", "Account")',
                success:
                function (response) {
                    $('.modalTexte').html(response);
                        $('#modal_connection').dialog({
                            open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "500",
                            modal: true,
                            title: 'connexion',
                            buttons: {
                                "retour": function () { $(this).dialog("close") }
                            }
                        })
                },
                error:
                function (response) {
                    alert("un problème a été détecté... " + response.nom);
                }
            })
        })


    </script>
    <script>
        $('.deconnexion').click(function () {
            $.ajax({
                type: 'POST',
                datatype: 'json',
                url: '@Url.Action("deconnexion", "Account")',
                success:
                function (response) {
                    if (response.result != "OK") {
                        $('.modalTexte').html("probleme detecté");
                        $('#modal_connection').dialog({
                            open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "400",
                            modal: true,
                            title: '@Resource.desole',
                            buttons: {
                                "ok": function () { $(this).dialog("close") }
                            }
                        })
                    }
                    else {
                        $('.modalTexte').html("au revoir " + " " + response.nom + " " + response.prenom);
                        $('#modal_connection').dialog({

                            open: function (event, ui) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "400",
                            modal: true,
                            title: 'au revoir',

                            buttons: {
                                "ok": function () {
                                    $(this).dialog("close");
                                    location.href = "../Home/Index";
                                }
                            }
                        });

                    }
                },
                error:
                function (response) {
                    alert("un problème a été détecté... " + response.nom);
                }
            })
        });



    </script>

    <script>
        $('.langue').click(function () {
            var langue = $(this).val();
             $.ajax({
                url: '@Url.Action("SetCulture", "Home")',
                data: { culture: langue },
                success:
                function () {
                    location.reload()
                },
                error:
                function (response) {
                    alert("un problème a été détecté... " + response.nom);
                }
            })
        })
        $('#langue').change(function () {
            var langue = $('#langue').val();
            $.ajax({
                url: '@Url.Action("SetCulture", "Home")',
                data: { culture: langue },
                success:
                function () {
                    location.reload()
                },
                error:
                function (response) {
                    alert("un problème a été détecté... " + response.nom);
                }
            })
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- inclusion des libraries jQuery et jQuery UI (fichier principal et plugins) -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>


    @*script pour la map de GoogleMaps*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap&sensor=false&amp;libraries=places"></script>

</body>
</html>