@model IEnumerable<ImmoWhatApp.Models.tablePriceStat>


    <table id="tableStat" class="table">
        <thead>
            <tr>
                <th scope="col" style="color:orange; text-align:center">
                    average pricess
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.type)
                </th>
                <th style="text-align:center">
                    @ViewBag.anneeRech
                </th>
                <th style="text-align:center">
                    @ViewBag.anneePrec
                </th>
                <th style="text-align:center">
                    @ViewBag.anneeCour
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.evolutionPrice)
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int x = 0;
                foreach (var item in Model)
                {

                    x = x + 1;
                    <tr>
                        <td scope="row"></td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.anneeRecherche) €
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.anneePrecedente) €
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.anneeCourante) €
                        </td>
                        @if (item.evolutionPrice == 999)
                        {
                            <td style="text-align:center">
                                NA
                            </td>
                        }
                        else if (item.evolutionPrice > 0)
                        {
                            <td style="color:green; text-align:center">
                                @Html.DisplayFor(modelItem => item.evolutionPrice)%
                            </td>
                        }
                        else if (item.evolutionPrice == 0)
                        {
                            <td style="color:blue; text-align:center">
                                @Html.DisplayFor(modelItem => item.evolutionPrice)%
                            </td>
                        }
                        else
                        {
                            <td style="color:red; text-align:center">
                                @Html.DisplayFor(modelItem => item.evolutionPrice)%
                            </td>
                        }
                    </tr>
                    if (x == 4)
                    {
                        <tr>
                            <th scope="row" style="color:orange; text-align:center">nb of transaction</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    }

                }
            }
        </tbody>
    </table>
