@model ImmoWhatApp.Models.MembreModels

<div>
    <h4>MembreModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idMembre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idMembre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pswd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pswd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pswd2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pswd2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commune)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commune)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roleUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roleUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateDeNaissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateDeNaissance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estProprietaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estProprietaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
