@model ImmoWhatApp.Models.MembreModels

@{
    ViewBag.Title = "CreerCompte";
}

<h2>CreerCompte</h2>


<form id="formAjoutMembre" enctype="multipart/form-data" method="post">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MembreModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row">
                <div class="jumbotron col-md-7">
                    <div class="form-group">
                        @Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control" } })
                            <span style="display:none" class="text-danger" id="errorMail"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.pswd, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.pswd, new { htmlAttributes = new { @class = "form-control" } })
                            <span style="display:none" class="text-danger" id="errorPswd"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.pswd2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.pswd2, new { htmlAttributes = new { @class = "form-control" } })
                            <span style="display:none" class="text-danger" id="errorPswd2"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-4 offset-md-1">
                    <label for="photo" class="control-label col-md-2">photo</label>
                    <div class="col-md-10">
                        <img id="photo" src="~/img/membre/photo0.jpg" alt="your image" style="width:100%" class="form-control" />
                    </div>
                    <br>
                    <input type="file" name="monfichier" value="photooo" id="imgInp" />
                </div>
            </div>
            <div class="row">
                <div class="jumbotron col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                                <span style="display:none" class="text-danger" id="errorNom"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                                <span style="display:none" class="text-danger" id="errorPrenom"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.dateDeNaissance, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-10 form-inline">
                                @Html.EditorFor(model => model.dateDeNaissance, new { htmlAttributes = new { @class = "form-control", @style = "display:none" } })
                                <input type="number" placeholder="jour" id="jour" name="jour" min="01" max="31" class="form-control dateNaiss col-md-4" />
                                <input type="number" placeholder="mois" id="mois" name="mois" min="1" max="12" class="form-control dateNaiss col-md-4" />
                                <input type="number" placeholder="annee" id="annee" name="annee" min="1900" class="form-control dateNaiss col-md-4" />
                                @Html.ValidationMessageFor(model => model.dateDeNaissance, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.telephone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telephone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <input id="dateDeNaissance" type="date" style="display:none" placeholder="date de naissance" class="form-control" />
                    </div>
                </div>
                <div class="jumbotron col-md-6">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Commune, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Commune, new { htmlAttributes = new { @class = "form-control" } })
                                <span style="display:none" class="text-danger" id="errorCommune"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.rue, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.rue, new { htmlAttributes = new { @class = "form-control" } })
                                <span style="display:none" class="text-danger" id="errorRue"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                                <span style="display:none" class="text-danger" id="errorNumero"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.boite, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.boite, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.boite, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btnEnvoiForm" type="button" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<img id="chargement" src="~/img/loaders/infini.gif" style="display: none" alt="Chargement en cours..." class="loaderConnection col-md-offset-5 col-md-2 col-md-offset-5" />
<div id="MyModal" style="display:none">
    <p id="modalTexte" class="modal-contents"></p>
</div>


<script>

    $('#az').click(function () {
        alert($('#mail').val());
    })

    // envoie la requete pour creer un profile

    function validateForm() {
        var mail = $('#mail').val();
        var pswd = $('#pswd').val();
        var pswd2 = $('#pswd2').val()
        var nom = $('#nom').val();
        var prenom = $('#prenom').val();
        var commune = $('#Commune').val();
        var rue = $('#rue').val();
        var num = $('#numero').val();

        var ok = true;

        if (mail == "") {
            $('#errorMail').html("veuillez mettre une adresse mail svp");
            $('#errorMail').show();
            ok = false;
        }
        else {
            $('#errorMail').hide();
        }

        if (pswd != pswd2) {
            $('#errorPswd').html("les deux mots de passes ne sont pas identiques");
            $('#errorPswd').show();
            $('#errorPswd2').html("les deux mots de passes ne sont pas identiques");
            $('#errorPswd2').show();
            ok = false;
        }
        else if (pswd.length < 6 || pswd2.length < 6) {
            if (pswd.length < 6) {
                $('#errorPswd').html("minimum 6 lettres");
                $('#errorPswd').show();
                ok = false;
            }
            if (pswd2.length < 6) {
                $('#errorPswd2').html("minimum 6 lettres");
                $('#errorPswd2').show();
                ok = false;
            }
        }
        else {
            $('#errorPswd2').hide();
            $('#errorPswd').hide();
        }

        if (nom == "") {
            $('#errorNom').html("veuillez mettre un nom svp");
            $('#errorNom').show();
            ok = false;
        }
        else {
            $('#errorNom').hide();
        }
        if (prenom == "") {
            $('#errorPrenom').html("veuillez mettre un prénom svp");
            $('#errorPrenom').show();
            ok = false;
        }
        else {
            $('#errorPrenom').hide();
        }
        if (commune == "") {
            $('#errorCommune').html("veuillez mettre une commune svp");
            $('#errorCommune').show();
            ok = false;
        }
        else {
            $('#errorCommune').hide();
        }
        if (rue == "") {
            $('#errorRue').html("veuillez mettre votre rue svp");
            $('#errorRue').show();
            ok = false;
        }
        else {
            $('#errorRue').hide();
        }
        if (num == "") {
            $('#errorNumero').html("veuillez mettre un numero svp");
            $('#errorNumero').show();
            ok = false;
        }
        else {
            $('#errorNumero').hide();
        }

        return ok;
            
    }
    $('#btnEnvoiForm').click(function () {
        var formValide = validateForm();
        if (formValide == true) {
            $("#chargement").show();

            var mail = $('#mail').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CheckIfMailExists", "Account")',
                datatype: 'html',
                data: { mail: mail },
                success: function (donnee) {
                    if (donnee == "True") {
                        $("#chargement").hide();
                        $('#modalTexte').html("cette adresse mail existe déja");
                        $('#MyModal').dialog({
                            open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "400",
                            modal: true,
                            title: 'error',
                            buttons: {
                                "ok": function () {
                                    $(this).dialog("close");
                                }

                            }
                        });
                    }
                    else {
                        var formData = new FormData($('#formAjoutMembre')[0]);
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CreerCompte", "Account")',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (donnee) {
                                $("#chargement").hide();
                                $('#modalTexte').html("votre compte a été créé");
                                $('#MyModal').dialog({
                                    open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                                    resizable: false,
                                    height: "auto",
                                    width: "400",
                                    modal: true,
                                    title: 'parfait!',
                                    buttons: {
                                        "ok": function () {
                                            $(this).dialog("close");
                                            location.href = "../Home/Index";
                                        }

                                    }
                                });

                            },
                            error: function (error) {
                                alert("error");
                            }
                        });
                    }


                },
                error: function (error) {
                    alert("error");
                }
            });
        }

    });


    // vérifie si la date est valable + récuperation

    function testBisextile(Year) {
        return (((Year & 3) == 0) && ((Year % 100 != 0) || (Year % 400 == 0)));
    }

    $('.dateNaiss').change(function () {

        var jour = $('#jour').val();
        var mois = $('#mois').val();
        var annee = $('#annee').val();

        var j = false;
        var m = false;
        var a = false;

        if (jour != 0 && mois != 0 && annee != 0) {
            if (((mois == 4 || mois == 6 || mois == 9 || mois == 11) && jour == 31) || (mois == 2 && testBisextile(annee) && jour > 29) || (mois == 2 && !testBisextile(annee) && jour > 28)) {
                $('#jour').css("border-color", "red");
                $('#mois').css("border-color", "red");
                $('#annee').css("border-color", "red");
            }
            else {
                if (jour > 31 || jour < 0) {
                    $('#jour').css("border-color", "red");
                }
                else {
                    $('#jour').css("border-color", "green");
                    j = true;
                }
                if (mois > 12 || mois < 0) {
                    $('#mois').css("border-color", "red");
                }
                else {
                    $('#mois').css("border-color", "green");
                    m = true;
                }
                if (annee < 1900) {
                    $('#annee').css("border-color", "red");
                }
                else {
                    $('#annee').css("border-color", "green");
                    a = true;
                }
            }

        }
        if (j == true, m == true, a == true) {
            var lang = $('#lang').val();
            var dateNaiss = annee + "-" + mois + "-" + jour;
            var a = new Date()
            $('#dateDeNaissance').val(dateNaiss);
        }
        //if (j == true, m == true, a == true) {
        //    var lang = $('#lang').val();
        //    if (lang == "fr") {
        //        var dateNaiss = jour + "/" + mois + "/" + annee;
        //        var a = new Date()
        //        $('#dateDeNaissance').val(dateNaiss);
        //    }
        //    else {
        //        var dateNaiss = mois + "/" + jour + "/" + annee;
        //        var a = new Date()
        //        $('#dateDeNaissance').val(dateNaiss);
        //    }


        //}
    });


    // récupere l'image pour l'afficher en preview

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#photo').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>



