@model ImmoWhatApp.Models.Commune

@{
    ViewBag.Title = "Graphic";
}




<div class="row" style="height:auto;min-height:100%;width:100%; ">
    <div class="col-lg-1" style="min-height:100%;width:20%;min-width:20%;max-width:20%;padding:0px;">
        <div class="float-left border rounded border-dark" style="position:fixed;width:20%;height:84%; left:0; ">
            <div class="row" style="height:5%;margin-left:0px;margin-right:0px;">
                <div class="col"><span>waterloo</span></div>
            </div>
            <div class="row" style="height:10%;margin:0px; z-index:99">
                <div class="col" style="padding:0px;">
                    <div class="input-group">
                        <div class="input-group-prepend"></div>
                        <input id="inputComm" class="form-control" type="text" placeholder="@Model.Localite">
                        <div class="input-group-append">
                            <button id="btnRechercheCommune" class="btn btn-primary" type="button">search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height:85%;margin-right:0px;margin-left:0px;">
                <div id="map" class="col" style="height:100%;width:100%;padding-right:0px;padding-left:0px;z-index:-1 ">

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-12 offset-xl-0" style="width:80%;min-width:80%;max-width:80%;padding:0px; ">
        <div class="row mt-5" style="height:100%;margin-left:0%;margin-right:0px;width:100%;">
            <div class="col-lg-10 offset-lg-1" style="padding:0px;min-width:10%;">
                <div style="height:auto;min-height:100%;">
                    <ul class="nav nav-tabs">
                        <li id="tablePrix-tab" class="nav-item"><a id="ongletTablePrix" class="nav-link" role="tab" data-toggle="tab" href="#tablePrix">table prix</a></li>
                        <li id="graphique-tab" class="nav-item"><a id="ongletGraphique" class="nav-link" role="tab" data-toggle="tab" href="#graphique">graphique</a></li>
                        <li id="poi-tab" class="nav-item"><a  id="ongletPOI" class="nav-link" role="tab" data-toggle="tab" href="#poi">POI</a></li>
                        <li id="info-tab" class="nav-item"><a id="ongletInfo" class="nav-link" role="tab" data-toggle="tab" href="#info">info</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content" style="height:auto;min-height:100%;">


                        @*SECTION "TABLE DE PRIX"*@
                        <div id="tablePrix" class="tab-pane" role="tabpanel">
                            <div class="row" style="margin:0px;margin-right:0px;">
                                <div class="col" style="padding:0px;">
                                    <div class="row mt-4" style="margin:0px;">
                                        <div class="col">
                                            <h4 class="mt-3 mb-2">Average &amp; Transactions - waterloo</h4>
                                        </div>
                                        <div class="col-lg-3 align-self-center" style="height:35px;padding:0px;">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input id="inputYear" class="form-control" type="text" placeholder="2010">
                                                <div class="input-group-append">
                                                    <button id="btnSearchComparaisonYear" class="btn btn-primary" type="button">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tablePrixView" class="table-responsive">
                                        @*ici, la table des prix*@
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*SECTION "GRAPHIQUE"*@
                        <div id="graphique" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="mt-3 mb-2">Average &amp; Transactions - waterloo</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col offset-lg-8">
                                            <div class="btn-group" role="group">
                                                <button id="btnPrixMoyen" class="btn btn-primary" type="button">prix moyen</button>
                                                <button id="btnTransactions" class="btn btn-primary" type="button">transactions</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h5>appartements, maisons et villas</h5>

                                            <div class="row">
                                                <div id="myChart" class="col-lg-12">
                                                    @*ON TROUVERA LE GRAPHIQUE ICI*@
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <h5>terrains</h5>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*SECTION "POI"*@
                        <div id="poi" class="tab-pane active" role="tabpanel">
                            <div class="row">
                                <div class="col mt-3 mb-3">
                                    <h3 class="mt-3 mb-2">Points d'interets généraux</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mt-3 mb-3">
                                        <div class="input-group-prepend"></div>
                                        <input id="searchTextField" class="form-control" type="text" placeholder="adresse">
                                        <div class="input-group-append" style="min-width:15%;max-width:15%;width:15%;">
                                            <button id="btnAdr" class="btn btn-primary" type="button" style="min-width:100%;max-width:100%;">search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="PoiContent">

                            </div>
                        </div>

                        @*SECTION "COMMENTAIRE"*@
                        <div class="tab-pane" role="tabpanel" id="info">
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <h1>commentaire</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col offset-lg-8"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @Html.ActionLink("retour", "MainPage", "Home", new { nomCommune = Model.Localite, typeBien = @ViewBag.typeBien }, "");
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="chart_div"></div>
        <input id="codePost" style="display:none" value="@Model.CodePostal" />
    </div>
</div>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>






<!-- Modal -->
<div id="myModal" style="display:none">
    <p id="modalTexte" class="modal-contents">voila mon modal</p>
</div>


<img id="chargement" src="~/img/loaders/infini.gif" style="display: none" alt="Chargement en cours..." class="loaderConnection col-md-offset-5 col-md-2 col-md-offset-5" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>

    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>


@*----------SCRIPT POUR LA GESTION DU CHANGEMENT DE COMMUNE DANS LA BARRE DE NAVIGATION----------*@
<script>
    $("#inputComm").autocomplete({
        autoFocus: true,
        source: function (requete, reponse) {
            var name = $('#inputComm').val();
            $.ajax({
                type: 'GET',
                datatype: 'json',
                data: { nom: name.toLowerCase() },
                url: '@Url.Action("GetCommunesByNameInJson", "Commune")',
                success: function (donnee) {
                    reponse($.map(donnee.commune, function (objet) {
                        return {
                            label: objet.Localite + " ( " + objet.CodePostal + " )",
                            value: objet.Localite,
                            id: objet.id
                        }
                    }));
                }
            })
        },
        minLength: 3,

        select: function (event, ui) {
            idCommune = ui.item.id
        }
    });


    $('#btnRechercheCommune').click(function () {
        var nomCommune = $('#inputComm').val();
        $.ajax({
            type: 'GET',
            datatype: 'json',
            data: { nomCommune: nomCommune },
            url: '@Url.Action("checkIfCommuneExists", "Commune")',
            success: function (donnee) {
                if (donnee.result == "OK") {
                    var nom = donnee.nom;
                    var url = "/Home/MainPage?nomCommune=" + nom;
                    window.location.href = url;
                }
                else {
                    $('#modalTexte').html("commune inexistante");
                    $('#myModal').dialog({
                        open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                        resizable: false,
                        height: "auto",
                        width: "400",
                        modal: true,
                        title: 'commune inexistante',
                        buttons: {
                            "ok": function () { $(this).dialog("close") }
                        }
                    })
                }
            }
        })
    });
</script>


<script type="text/javascript">
    var bouton;
    var mapPOI;
    var infowindow;
    var service;
    var markers = [];
    var markersHopital = [];
    var markersSchool = [];
    var markersBar = [];
    var marker;
    var imageIcon;
    var home = { lat: @Model.latitude, lng: @Model.longitude };
    var typePlace = "";

    // bouton pour rechercher par une adresse

    $('#btnAdr').click(function () {

        var address = document.getElementById("searchTextField").value;
        var lat;
        var lon;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                // do something with the geocoded result
                //
                lat = results[0].geometry.location.lat().toString();
                lon = results[0].geometry.location.lng().toString();
                $.ajax({
                    type: 'GET',
                    datatype: 'html',
                    url: '@Url.Action("PartialViewPoiAdresse", "Stat")',
                    data: { latitude: lat, longitude: lon },
                    success: function (donnee) {
                        $("#chargement").hide();
                        $('#PoiContent').html(donnee);
                    },
                    error: function () {
                        alert("une erreur s'est produite...")
                    }
                });
            }
        });


    });

    // affichage carte POI de la commune

    function afficheCartePOICommune(home) {
        $.ajax({
            type: 'GET',
            datatype: 'html',
            url: '@Url.Action("PartialViewPoiCommune", "Stat")',
            data: { latitude: @Model.latitude, longitude: @Model.longitude },
            success: function (donnee) {


                $("#chargement").hide();
                $('#PoiContent').html(donnee);


            },
            error: function () {
                alert("une erreur s'est produite...")
            }
        });
    }






    var anneeMin;
    var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';



    $(document).ready(function () {
        bouton = '@ViewBag.bouton';
        
        anneeMin = '@Request.RequestContext.HttpContext.Session["anneeMin"]';


        if (bouton == "graphique") {
            $(".nav").find(".active").removeClass("active");
            $('#ongletGraphique').addClass("active");
            GetGraphiquePrixMoyen();
        }
        else if (bouton == "tablePrix") {
            $(".nav").find(".active").removeClass("active");
            $('#ongletTablePrix').addClass("active");
            currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            var anneeRecherche = currentYear - 3;

            GetStat(anneeRecherche);
        }
        else if (bouton == "POI") {
            afficheCartePOICommune(home);

            $(".nav").find(".active").removeClass("active");
            $('#ongletPOI').addClass("active");

            $('#poi').addClass("show");
            $('#poi').show()
        }
        else {
            $(".nav").find(".active").removeClass("active");
            $('#ongletInfo').addClass("active");

            $('#info').addClass("show");
            $('#info').show()
        }
    })


    $('#btnTransactions').click(function () {
        GetGraphiqueTransactions();
    });
    $('#btnPrixMoyen').click(function () {
        GetGraphiquePrixMoyen();
    });
    $('#graphique-tab').click(GetGraphiquePrixMoyen);
    $('#tablePrix-tab').click(function () {
        var anneeRecherche = $('#inputYear').val();
        if (anneeRecherche == '') {
            currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            anneeRecherche = currentYear - 3;
        }
        GetStat(anneeRecherche);
    });
    $('#poi-tab').click(function () {
        afficheCartePOICommune(home);
        $('#graphique').hide();
        $('#info').hide();
        $('#tablePrix').hide();
        $('#poi').addClass("show");
        $('#poi').show();
        initMapPOI();
    });
    $('#info-tab').click(function () {

        $('#graphique').hide();
        $('#poi').hide();
        $('#tablePrix').hide();
        $('#info').addClass("show");
        $('#info').show()
    });

    $('#btnSearchComparaisonYear').click(function () {
        var anneeRecherche = $('#inputYear').val();
        if (anneeRecherche == '') {
            var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            anneeRecherche = currentYear - 3;
        }
        if (anneeRecherche < anneeMin) {
            var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            $('#modalTexte').html("nous n'avons pas de données pour cette année la.\nVeuillez chercher entre " + anneeMin + " et " + currentYear+" !");
            $('#myModal').dialog({
                open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                resizable: false,
                height: "auto",
                width: "400",
                modal: true,
                title: '@Resource.desole',
                buttons: {
                    "ok": function () { $(this).dialog("close") }
                }
            });

        }
        else {
            GetStat(anneeRecherche);
        }

    });

    function GetGraphiqueTransactions() {
        $("#chargement").show();
            var codePost = $('#codePost').val();
            $.ajax({
                type: 'GET',
                datatype: 'json',
                url: '@Url.Action("GetTableGraphiqueTransactionInJson", "Stat")',
                data: { codePostal: codePost, },
                success: function (donnee) {
                    // Load the Visualization API and the corechart package.
                    google.charts.load('current', { packages: ['corechart', 'line'] });

                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts.setOnLoadCallback(drawLineColors);

                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and
                    // draws it.
                    function drawLineColors() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'X');
                        data.addColumn('number', 'nb de transaction villas');
                        data.addColumn('number', 'nb de transaction maison');
                        data.addColumn('number', 'nb de transaction appartement');
                        data.addColumn('number', 'nb de transaction terrain');

                        data.addRows([
                            [donnee.resultat[0].annee, donnee.resultat[0].nbTransactionsVilla, donnee.resultat[0].nbTransactionsMaison, donnee.resultat[0].nbTransactionsAppartement, donnee.resultat[0].nbTransactionsTerrain],
                            [donnee.resultat[1].annee, donnee.resultat[1].nbTransactionsVilla, donnee.resultat[1].nbTransactionsMaison, donnee.resultat[1].nbTransactionsAppartement, donnee.resultat[1].nbTransactionsTerrain],
                            [donnee.resultat[2].annee, donnee.resultat[2].nbTransactionsVilla, donnee.resultat[2].nbTransactionsMaison, donnee.resultat[2].nbTransactionsAppartement, donnee.resultat[2].nbTransactionsTerrain],
                            [donnee.resultat[3].annee, donnee.resultat[3].nbTransactionsVilla, donnee.resultat[3].nbTransactionsMaison, donnee.resultat[3].nbTransactionsAppartement, donnee.resultat[3].nbTransactionsTerrain],
                            [donnee.resultat[4].annee, donnee.resultat[4].nbTransactionsVilla, donnee.resultat[4].nbTransactionsMaison, donnee.resultat[4].nbTransactionsAppartement, donnee.resultat[4].nbTransactionsTerrain],
                            [donnee.resultat[5].annee, donnee.resultat[5].nbTransactionsVilla, donnee.resultat[5].nbTransactionsMaison, donnee.resultat[5].nbTransactionsAppartement, donnee.resultat[5].nbTransactionsTerrain]
                        ]);

                        var options = {
                            height: 400,
                            curveType: 'function',
                            pointsVisible: true,
                            hAxis: {
                                format: '',

                                title: 'année',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            },
                            vAxis: {
                                viewWindowMode: "explicit",
                                viewWindow: { min: 0 },
                                title: 'nb de transactions',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('myChart'));
                        chart.draw(data, options);
                    }
                    $("#chargement").hide();
                    //$('#graph').show();
                },
                error: function () {
                    alert("une erreur s'est produite...")
                }
            });
    }

    function GetGraphiquePrixMoyen() {
        $(".nav").find(".active").removeClass("active");
        $('#ongletGraphique').addClass("active");
        $('#poi').hide();
        $('#info').hide();
        $('#tablePrix').hide();
        $('#graphique').addClass("show");
        $('#graphique').show()
            $("#chargement").show();
            var codePost = $('#codePost').val();
            $.ajax({
                type: 'GET',
                datatype: 'json',
                url: '@Url.Action("GetJsonResultGraph", "Stat")',
                data: { codePostal: codePost, },
                success: function (donnee) {
                    // Load the Visualization API and the corechart package.
                    google.charts.load('current', { packages: ['corechart', 'line'] });

                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts.setOnLoadCallback(drawLineColors);

                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and
                    // draws it.
                    function drawLineColors() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'X');
                        data.addColumn('number', 'prix moyenne villas');
                        data.addColumn('number', 'prix moyenne maison');
                        data.addColumn('number', 'prix moyenne appartement');
                        data.addColumn('number', 'prix moyenne terrain');

                        data.addRows([
                            [donnee.resultat[0].annee, donnee.resultat[0].moyennePrixVilla, donnee.resultat[0].moyennePrixMaison, donnee.resultat[0].moyennePrixAppartement, donnee.resultat[0].moyennePrixTerrain],
                            [donnee.resultat[1].annee, donnee.resultat[1].moyennePrixVilla, donnee.resultat[1].moyennePrixMaison, donnee.resultat[1].moyennePrixAppartement, donnee.resultat[1].moyennePrixTerrain],
                            [donnee.resultat[2].annee, donnee.resultat[2].moyennePrixVilla, donnee.resultat[2].moyennePrixMaison, donnee.resultat[2].moyennePrixAppartement, donnee.resultat[2].moyennePrixTerrain],
                            [donnee.resultat[3].annee, donnee.resultat[3].moyennePrixVilla, donnee.resultat[3].moyennePrixMaison, donnee.resultat[3].moyennePrixAppartement, donnee.resultat[3].moyennePrixTerrain],
                            [donnee.resultat[4].annee, donnee.resultat[4].moyennePrixVilla, donnee.resultat[4].moyennePrixMaison, donnee.resultat[4].moyennePrixAppartement, donnee.resultat[4].moyennePrixTerrain],
                            [donnee.resultat[5].annee, donnee.resultat[5].moyennePrixVilla, donnee.resultat[5].moyennePrixMaison, donnee.resultat[5].moyennePrixAppartement, donnee.resultat[5].moyennePrixTerrain]
                        ]);

                        var options = {
                            height: 400,
                            curveType: 'function',
                            pointsVisible: true,
                            hAxis: {
                                format: '',

                                title: 'année',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            },
                            vAxis: {
                                viewWindowMode: "explicit",
                                viewWindow: { min: 0 },
                                title: 'prix ( € )',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('myChart'));
                        chart.draw(data, options);
                    }
                    $("#chargement").hide();
                    //$('#graph').show();
                },
                error: function () {
                    alert("une erreur s'est produite...")
                }
            });
    };
    function GetStat(anneeRecherche) {
        $(".nav").find(".active").removeClass("active");
        $('#ongletTablePrix').addClass("active");

        $('#poi').hide();
        $('#info').hide();
        $('#graphique').hide();

        $('#tablePrix').addClass("show");
        $('#tablePrix').show()
        $("#chargement").show();

         var codePost = $('#codePost').val();
         var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
         var previousYear = currentYear - 1;

        if (anneeRecherche == '') {
            anneeRecherche = currentYear - 3;
        }
        $.ajax({
            type: 'GET',
            datatype: 'html',
            url: '@Url.Action("PartialTableStat", "Stat")',
            data: { anneeRecherchee: anneeRecherche, codePostal: codePost, },
            success: function (donnee) {


                $("#chargement").hide();

                //$('#tablePrixView').show();
                $('#tablePrixView').html(donnee);


            },
            error: function () {
                alert("une erreur s'est produite...")
            }
        });
    }


</script>

<script type="text/javascript">

    $('#btnAdr').click(function () {
        var lat;
        var lon;
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById("searchTextField").value;

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                // do something with the geocoded result
                //
                lat = results[0].geometry.location.lat();
                lon = results[0].geometry.location.lng();
                home = { lat: lat, lng: lon };
                initMapPOI();
            }
        });


    });

</script>
<script type="text/javascript">

    function initialize() {
        var options = {
            componentRestrictions: {
                country: "BE"
            }
        };

        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap"></script>




