@model ImmoWhatApp.Models.Commune

@{
    ViewBag.Title = "Graphic";
}



<div class="row">
    <div class="col-lg-3 carte" style="position:fixed">
        <div class="col-12">
            Home / graphique-prix / @Model.Localite
        </div>
        <br />
        <div class="col-12">
            <input type="text" placeholder="@Model.Localite" />
        </div>
        <br />
        <div id="map" class="col-lg-12" style="width:100%; height:90%;"></div>

    </div>

    <div class="col-lg-9 offset-lg-3">
        <div class="row" style="padding-left:3%; padding-top:5%;">
            <ul class="nav nav-tabs col-lg-12" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="tablePrix-tab" data-toggle="tab" href="#tablePrix" role="tab" aria-controls="tablePrix" aria-selected="true">tablePrix</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="graphique-tab" data-toggle="tab" href="#graphique" role="tab" aria-controls="graphique" aria-selected="false">graphique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="poi-tab" data-toggle="tab" href="#poi" role="tab" aria-controls="poi" aria-selected="false">poi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">comment</a>
                </li>
            </ul>
            <div class="tab-content row col-lg-12" id="myTabContent" style="height:75vh; padding-top:5vh">

                @*SECTION "TABLE DE PRIX"*@
                <div class="col-lg-12 tab-pane " id="tablePrix" role="tabpanel" aria-labelledby="tablePrix-tab" style="position: relative; height:40vh; width:60vw">

                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">

                                <h3 class="col-lg-9 float-lg-left">Average & Transactions - @Model.Localite</h3>

                                <div class="input-group mb-3 col-lg-3 float-lg-right">
                                    <input id="inputYear" type="text" class="form-control" placeholder="2010" aria-label="Recipient's username" aria-describedby="basic-addon2" style="text-align:center">
                                    <div class="input-group-append">
                                        <button id="btnSearchComparaisonYear" class="btn btn-outline-secondary" type="button">search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" id="tablePrixView">
                                @*ici, la table des prix*@
                            </div>
                        </div>
                    </div>

                </div>

                @*SECTION "GRAPHIQUE"*@
                <div class="tab-pane fade" id="graphique" role="tabpanel" aria-labelledby="graphique-tab">
                    <div id="graph" class="chart-container" style="position: relative; height:40vh; width:60vw">
                        <div class="row">
                            <div class="col-lg-12">

                                <h3 class="col-lg-9 float-lg-left" style="text-align:center">graphique de stat</h3>

                                <div class="btn-group float-lg-left col-lg-2" role="group" aria-label="Basic example">
                                    <button id="btnPrixMoyen" type="button" class="btn btn-secondary">Prix moyen</button>
                                    <button id="btnTransactions" type="button" class="btn btn-secondary">transactions</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="myChart" class="col-lg-12"></div>

                        </div>

                    </div>
                </div>

                @*SECTION "POI"*@
                <div class="tab-pane fade col-lg-12" id="poi" role="tabpanel" aria-labelledby="poi-tab">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="adresse" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button id="btnAdr" class="btn btn-outline-secondary" type="button">search</button>
                        </div>

                    </div>
                    <br />
                    <div id="PoiContent">

                    </div>
                    @*<div>
            <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on">
            <button id="btnAdr">bouton</button>
        </div>



        <div id="cartePOI">
            <div id="mapPOI" style="width:100%; height:100%;"></div>
        </div>
        <div id="checkZonePOI">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxBar" value="bars">
                <label class="form-check-label" for="checkboxBar">bars</label>
            </div>
            <br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxEcoles" value="écoles">
                <label class="form-check-label" for="checkboxEcoles">écoles</label>
            </div>
            <br />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxHopital" value="hopitaux">
                <label class="form-check-label" for="checkboxHopital">hopitaux</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxRestaurent" value="restaurent">
                <label class="form-check-label" for="checkboxRestaurent">restaurent</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxStation" value="bus">
                <label class="form-check-label" for="checkboxStation">bus</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxPark" value="park">
                <label class="form-check-label" for="checkboxPark">park</label>
            </div>
        </div>
        <button id="tes">btn test</button>*@
                </div>

                @*SECTION "COMMENTAIRE"*@
                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                    commentaire
                </div>
            </div>
            <div class="row">

            </div>

            <div style="display:none" id="poiView">
                Point of interest
            </div>
            <div style="display:none" id="commentView">
                commentaires

            </div>
        </div>
    </div>
    <div id="azerty"></div>
</div>
<div id="chart_div"></div>
<input id="codePost" style="display:none" value="@Model.CodePostal" />
<input id="bouton" style="display:none" value="@ViewBag.bouton" />


<!-- Modal -->
<div id="myModal" style="display:none">
    <p id="modalTexte" class="modal-contents">voila mon modal</p>
</div>


<img id="chargement" src="~/img/loaders/infini.gif" style="display: none" alt="Chargement en cours..." class="loaderConnection col-md-offset-5 col-md-2 col-md-offset-5" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>

    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>

<script type="text/javascript">





    var mapPOI;
    var infowindow;
    var service;
    var markers = [];
    var markersHopital = [];
    var markersSchool = [];
    var markersBar = [];
    var marker;
    var imageIcon;
    var home = { lat: @Model.latitude, lng: @Model.longitude };
    var typePlace = "";

    function afficheCartePOICommune(home) {
        $.ajax({
            type: 'GET',
            datatype: 'html',
            url: '@Url.Action("PartialViewPoiCommune", "Stat")',
            data: { latitude: @Model.latitude, longitude: @Model.longitude },
            success: function (donnee) {


                $("#chargement").hide();
                $('#PoiContent').html(donnee);


            },
            error: function () {
                alert("une erreur s'est produite...")
            }
        });
    }


    function initMapPOI() {

        mapPOI = new google.maps.Map(document.getElementById('mapPOI'), {
            center: home,
            zoom: 15
        });
        var markerHome = new google.maps.Marker({
            map: mapPOI,
            position: home,
            icon: {
                url: '/assets/svg/maps/home.png',
                scaledSize: new google.maps.Size(25, 25)
            }

        });

        var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
        var marker = new google.maps.Marker({
            position: home,
            icon: image
        });
        infowindow = new google.maps.InfoWindow();
        service = new google.maps.places.PlacesService(mapPOI);

    }

    function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i]);
            }
        }
    }
    function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
            map: mapPOI,
            type: typePlace,
            position: place.geometry.location,
            icon: {
                url: imageIcon,
                scaledSize: new google.maps.Size(25, 25)
            }
        });
        markers.push(marker);

        google.maps.event.addListener(marker, 'click', function () {
            service.getDetails(place, function (result, status) {
                var contentstring = '<span style="color:red">' + result.name + '</span>'
                infowindow.setContent(contentstring);
            });
            infowindow.open(mapPOI, this);
        });
    }
    function setMapOnAll(mapPOI) {
        alert(markers.length);
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(mapPOI);
        }
    }
    function clearMarkers() {
        setMapOnAll(null);
        markers = [];
    }
    function recherche(typ, dist) {
        typePlace = typ;
        service.radarSearch({
            location: home,
            radius: dist,
            type: [typ]
        }, callback);
    }

    function deletePOI(typ) {
        var i = markers.length-1;
        while (i >= 0) {
            if (markers[i].type == typ) {
                markers[i].setMap(null);
                markers.splice(i, 1);
            }
            i--;
        }
    }


    $('#tes').click(function () {
        //https://maps.googleapis.com/maps/api/radarsearch/json?location=48.859294,2.347589&radius=5000&type=cafe&keyword=vegetarian&key=AIzaSyBokWXLMouoG6vGD1RibtVMrrXwmWlYv1k
        var address = "Avenue Henri Strauven 66, Auderghem, Belgique";
        $.ajax({
           type: "GET",
           dataType: "json",
           url: "http://maps.googleapis.com/maps/api/geocode/json",
           data: { 'address': address, 'sensor': false },
           success: function (donnee) {
                alert(donnee.result);
            },
            error: function () {
                alert("une erreur s'est produite...")
            }
        });
    });

    $('#checkboxBar').click(function () {
        if (document.getElementById("checkboxBar").checked == true) {
            imageIcon = '/assets/svg/maps/bar.png';
            recherche("bar", 2500);
        }
        else {
            deletePOI("bar");
            //alert(markers[0].type);
        }
    });
    $('#checkboxEcoles').click(function () {
        if (document.getElementById("checkboxEcoles").checked == true) {
            imageIcon = '/assets/svg/maps/school.png';
            recherche("school", 2500);
        }
        else {
            deletePOI("school");
        }
    });
    $('#checkboxHopital').click(function () {
        if (document.getElementById("checkboxHopital").checked == true) {
            imageIcon = '/assets/svg/maps/hopital.png';
            recherche("hospital", 2500);
        }
        else {
            deletePOI("hospital");
        }
    });
    $('#checkboxRestaurent').click(function () {
        if (document.getElementById("checkboxRestaurent").checked == true) {
            imageIcon = '/assets/svg/maps/restaurant.png';
            recherche("restaurant", 2500);
        }
        else {
            deletePOI("restaurant");
        }
    });
    $('#checkboxStation').click(function () {
        if (document.getElementById("checkboxStation").checked == true) {
            imageIcon = '/assets/svg/maps/bus.png';
            recherche("bus_station", 2500);
        }
        else {
            deletePOI("bus_station");
        }
    });
    $('#checkboxPark').click(function () {
        if (document.getElementById("checkboxPark").checked == true) {
            imageIcon = '/assets/svg/maps/park.png';
            recherche("park", 2500);
        }
        else {
            deletePOI("park");
        }
    });




    var anneeMin;
    var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';



    $(document).ready(function () {
        var bouton = $('#bouton').val();
        anneeMin = '@Request.RequestContext.HttpContext.Session["anneeMin"]';
        if (bouton == "graph") {
            GetGraphiquePrixMoyen();
        }
        else if (bouton == "tablePrix") {
            currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            var anneeRecherche = currentYear - 3;

            GetStat(anneeRecherche);
        }
        else if (bouton == "poi") {
            afficheCartePOICommune(home);

            $(".nav").find(".active").removeClass("active");
            $('#poi-tab').addClass("active");

            $('#poi').addClass("show");
            $('#poi').show()
        }
        else {
            $(".nav").find(".active").removeClass("active");
            $('#comment-tab').addClass("active");

            $('#comment').addClass("show");
            $('#comment').show()
        }
    })


    $('#btnTransactions').click(function () {
        GetGraphiqueTransactions();
    });
    $('#btnPrixMoyen').click(function () {
        GetGraphiquePrixMoyen();
    });
    $('#graphique-tab').click(GetGraphiquePrixMoyen);
    $('#tablePrix-tab').click(function () {
        var anneeRecherche = $('#inputYear').val();
        if (anneeRecherche == '') {
            currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            anneeRecherche = currentYear - 3;
        }
        GetStat(anneeRecherche);
    });
    $('#poi-tab').click(function () {
        $('#graphique').hide();
        $('#comment').hide();
        $('#tablePrix').hide();
        $('#poi').addClass("show");
        $('#poi').show();
        initMapPOI();
    });
    $('#comment-tab').click(function () {
        afficheCartePOICommune(home);
        $('#graphique').hide();
        $('#poi').hide();
        $('#tablePrix').hide();
        $('#comment').addClass("show");
        $('#comment').show()
    });

    $('#btnSearchComparaisonYear').click(function () {
        var anneeRecherche = $('#inputYear').val();
        if (anneeRecherche == '') {
            var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            anneeRecherche = currentYear - 3;
        }
        if (anneeRecherche < anneeMin) {
            var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
            $('#modalTexte').html("nous n'avons pas de données pour cette année la.\nVeuillez chercher entre " + anneeMin + " et " + currentYear+" !");
            $('#myModal').dialog({
                open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                resizable: false,
                height: "auto",
                width: "400",
                modal: true,
                title: '@Resource.desole',
                buttons: {
                    "ok": function () { $(this).dialog("close") }
                }
            });

        }
        else {
            GetStat(anneeRecherche);
        }

    });

    function GetGraphiqueTransactions() {
        $("#chargement").show();
            var codePost = $('#codePost').val();
            $.ajax({
                type: 'GET',
                datatype: 'json',
                url: '@Url.Action("GetTableGraphiqueTransactionInJson", "Stat")',
                data: { codePostal: codePost, },
                success: function (donnee) {
                    // Load the Visualization API and the corechart package.
                    google.charts.load('current', { packages: ['corechart', 'line'] });

                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts.setOnLoadCallback(drawLineColors);

                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and
                    // draws it.
                    function drawLineColors() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'X');
                        data.addColumn('number', 'nb de transaction villas');
                        data.addColumn('number', 'nb de transaction maison');
                        data.addColumn('number', 'nb de transaction appartement');
                        data.addColumn('number', 'nb de transaction terrain');

                        data.addRows([
                            [donnee.resultat[0].annee, donnee.resultat[0].nbTransactionsVilla, donnee.resultat[0].nbTransactionsMaison, donnee.resultat[0].nbTransactionsAppartement, donnee.resultat[0].nbTransactionsTerrain],
                            [donnee.resultat[1].annee, donnee.resultat[1].nbTransactionsVilla, donnee.resultat[1].nbTransactionsMaison, donnee.resultat[1].nbTransactionsAppartement, donnee.resultat[1].nbTransactionsTerrain],
                            [donnee.resultat[2].annee, donnee.resultat[2].nbTransactionsVilla, donnee.resultat[2].nbTransactionsMaison, donnee.resultat[2].nbTransactionsAppartement, donnee.resultat[2].nbTransactionsTerrain],
                            [donnee.resultat[3].annee, donnee.resultat[3].nbTransactionsVilla, donnee.resultat[3].nbTransactionsMaison, donnee.resultat[3].nbTransactionsAppartement, donnee.resultat[3].nbTransactionsTerrain],
                            [donnee.resultat[4].annee, donnee.resultat[4].nbTransactionsVilla, donnee.resultat[4].nbTransactionsMaison, donnee.resultat[4].nbTransactionsAppartement, donnee.resultat[4].nbTransactionsTerrain],
                            [donnee.resultat[5].annee, donnee.resultat[5].nbTransactionsVilla, donnee.resultat[5].nbTransactionsMaison, donnee.resultat[5].nbTransactionsAppartement, donnee.resultat[5].nbTransactionsTerrain]
                        ]);

                        var options = {
                            height: 400,
                            curveType: 'function',
                            pointsVisible: true,
                            hAxis: {
                                format: '',

                                title: 'année',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            },
                            vAxis: {
                                viewWindowMode: "explicit",
                                viewWindow: { min: 0 },
                                title: 'nb de transactions',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('myChart'));
                        chart.draw(data, options);
                    }
                    $("#chargement").hide();
                    //$('#graph').show();
                },
                error: function () {
                    alert("une erreur s'est produite...")
                }
            });
    }

    function GetGraphiquePrixMoyen() {
        $(".nav").find(".active").removeClass("active");
        $('#graphique-tab').addClass("active");
        $('#poi').hide();
        $('#comment').hide();
        $('#tablePrix').hide();
        $('#graphique').addClass("show");
        $('#graphique').show()
            $("#chargement").show();
            var codePost = $('#codePost').val();
            $.ajax({
                type: 'GET',
                datatype: 'json',
                url: '@Url.Action("GetJsonResultGraph", "Stat")',
                data: { codePostal: codePost, },
                success: function (donnee) {
                    // Load the Visualization API and the corechart package.
                    google.charts.load('current', { packages: ['corechart', 'line'] });

                    // Set a callback to run when the Google Visualization API is loaded.
                    google.charts.setOnLoadCallback(drawLineColors);

                    // Callback that creates and populates a data table,
                    // instantiates the pie chart, passes in the data and
                    // draws it.
                    function drawLineColors() {
                        var data = new google.visualization.DataTable();
                        data.addColumn('number', 'X');
                        data.addColumn('number', 'prix moyenne villas');
                        data.addColumn('number', 'prix moyenne maison');
                        data.addColumn('number', 'prix moyenne appartement');
                        data.addColumn('number', 'prix moyenne terrain');

                        data.addRows([
                            [donnee.resultat[0].annee, donnee.resultat[0].moyennePrixVilla, donnee.resultat[0].moyennePrixMaison, donnee.resultat[0].moyennePrixAppartement, donnee.resultat[0].moyennePrixTerrain],
                            [donnee.resultat[1].annee, donnee.resultat[1].moyennePrixVilla, donnee.resultat[1].moyennePrixMaison, donnee.resultat[1].moyennePrixAppartement, donnee.resultat[1].moyennePrixTerrain],
                            [donnee.resultat[2].annee, donnee.resultat[2].moyennePrixVilla, donnee.resultat[2].moyennePrixMaison, donnee.resultat[2].moyennePrixAppartement, donnee.resultat[2].moyennePrixTerrain],
                            [donnee.resultat[3].annee, donnee.resultat[3].moyennePrixVilla, donnee.resultat[3].moyennePrixMaison, donnee.resultat[3].moyennePrixAppartement, donnee.resultat[3].moyennePrixTerrain],
                            [donnee.resultat[4].annee, donnee.resultat[4].moyennePrixVilla, donnee.resultat[4].moyennePrixMaison, donnee.resultat[4].moyennePrixAppartement, donnee.resultat[4].moyennePrixTerrain],
                            [donnee.resultat[5].annee, donnee.resultat[5].moyennePrixVilla, donnee.resultat[5].moyennePrixMaison, donnee.resultat[5].moyennePrixAppartement, donnee.resultat[5].moyennePrixTerrain]
                        ]);

                        var options = {
                            height: 400,
                            curveType: 'function',
                            pointsVisible: true,
                            hAxis: {
                                format: '',

                                title: 'année',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            },
                            vAxis: {
                                viewWindowMode: "explicit",
                                viewWindow: { min: 0 },
                                title: 'prix ( € )',
                                textStyle: {
                                    color: '#01579b',
                                    fontSize: 15,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                },
                                titleTextStyle: {
                                    color: '#01579b',
                                    fontSize: 20,
                                    fontName: 'Arial',
                                    bold: true,
                                    italic: true
                                }
                            }
                        };
                        var chart = new google.visualization.LineChart(document.getElementById('myChart'));
                        chart.draw(data, options);
                    }
                    $("#chargement").hide();
                    //$('#graph').show();
                },
                error: function () {
                    alert("une erreur s'est produite...")
                }
            });
    };
    function GetStat(anneeRecherche) {
        $(".nav").find(".active").removeClass("active");
        $('#tablePrix-tab').addClass("active");

        $('#poi').hide();
        $('#comment').hide();
        $('#graphique').hide();

        $('#tablePrix').addClass("show");
        $('#tablePrix').show()
        $("#chargement").show();

         var codePost = $('#codePost').val();
         var currentYear = '@Request.RequestContext.HttpContext.Session["HighestYear"]';
         var previousYear = currentYear - 1;

        if (anneeRecherche == '') {
            anneeRecherche = currentYear - 3;
        }
        $.ajax({
            type: 'GET',
            datatype: 'html',
            url: '@Url.Action("PartialTableStat", "Stat")',
            data: { anneeRecherchee: anneeRecherche, codePostal: codePost, },
            success: function (donnee) {


                $("#chargement").hide();

                //$('#tablePrixView').show();
                $('#tablePrixView').html(donnee);


            },
            error: function () {
                alert("une erreur s'est produite...")
            }
        });
    }


</script>

<script type="text/javascript">

    $('#btnAdr').click(function () {
        var lat;
        var lon;
        var geocoder = new google.maps.Geocoder();
        var address = document.getElementById("searchTextField").value;

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                // do something with the geocoded result
                //
                lat = results[0].geometry.location.lat();
                lon = results[0].geometry.location.lng();
                home = { lat: lat, lng: lon };
                initMapPOI();
            }
        });


    });

</script>
<script type="text/javascript">

    function initialize() {
        var options = {
            componentRestrictions: { country: "BE" }
        };

        var input = document.getElementById('searchTextField');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap"></script>




