@model ImmoWhatApp.Models.Commune

@{
    ViewBag.Title = "Graphic";
}


<div class="row">
    <div class="col-lg-3 carte">
        <div class="col-12">
            Homegraphique-prixWaterloo
        </div>
        <div class="col-12">
            <input type="text" placeholder="@Model.Localite" />
        </div>

        <div id="map" class="col-lg-12" style="width:100%; height:100%;"></div>

    </div>

    <div class="col-lg-9">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="tablePrix" data-toggle="tab" href="#nav-tablePrix" role="tab" aria-controls="nav-home" aria-selected="true">tableau de prix</a>
                <a class="nav-item nav-link" id="graphique" data-toggle="tab" href="#nav-graphique" role="tab" aria-controls="nav-profile" aria-selected="false">Graphique</a>
                <a class="nav-item nav-link" id="poi" data-toggle="tab" href="#nav-poi" role="tab" aria-controls="nav-contact" aria-selected="false">POI</a>
                <a class="nav-item nav-link" id="comment" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">Commentaires</a>
                <input />
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-tablePrix" role="tabpanel" aria-labelledby="tablePrix">
                <h2>table des prix</h2>
                <div id="tablePrixView">


                </div>
            </div>
            <div class="tab-pane fade" id="nav-graphique" role="tabpanel" aria-labelledby="graphique">
                <div id="graph" class="chart-container" style="position: relative; height:40vh; width:70vw">
                    <h2>graphique</h2>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-poi" role="tabpanel" aria-labelledby="poi">mes POI</div>
            <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="comment">mes commentaires</div>
        </div>
        <div class="row">


            @*<div class="col-lg-8">
                <div id="typeBien" class="justify-content-lg-around" style="margin-top:3%; margin-bottom:3%; list-style-type: none;">

                    <div style="width:20%" id="tablePrix" class="btn btn-danger">tableau de prix</div>
                    <div style="width:20%" id="graphique" class="btn btn-danger">Graphique</div>
                    <div style="width:20%" id="poi" class="btn btn-danger">POI</div>
                    <div style="width:20%" id="comment" class="btn btn-danger">Commentaires</div>
                </div>
            </div>*@
            @*<div class="col-lg-3 offset-lg-1">
                <div class="justify-content-lg-around" style="margin-top:3%; margin-bottom:3%; list-style-type: none;">
                    <input type="text" />
                </div>
            </div>*@
        </div>

        
       
        <div style="display:none" id="poiView">
            Point of interest
        </div>
        <div style="display:none" id="commentView">
            commentaires
        </div>
    </div>

</div>
<input id="codePost" style="display:none" value="@Model.CodePostal" />
<input id="bouton" style="display:none" value="@ViewBag.bouton" />


<img id="chargement" src="~/img/loaders/infini.gif" style="display: none" alt="Chargement en cours..." class="loaderConnection col-md-offset-5 col-md-2 col-md-offset-5" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>

    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>

<script>
    var bouton = $('#bouton').val();
    if (bouton == "graph") {
        $(document).ready(GetGraphique);
    }
    else if (bouton == "tablePrix") {
        $(document).ready(GetStat);
    }

    $('#graphique').click(GetGraphique);
    $('#tablePrix').click(GetStat);

    function GetGraphique() {
        //$('#tablePrix').attr('class', 'btn btn-danger');
        //    $('#graphique').attr('class', 'btn btn-success');
        //    $('#poi').attr('class', 'btn btn-danger');
        //    $('#comment').attr('class', 'btn btn-danger');

            //$('#tablePrixView').hide();
            //$('#poiView').hide();
            //$('#commentView').hide();

            
            $("#chargement").show();
            var codePost = $('#codePost').val();
            $.ajax({
                type: 'GET',
                datatype: 'json',
                url: '@Url.Action("GetJsonResultGraph", "Stat")',
                data: { codePostal: codePost, },
                success: function (donnee) {

                    var ctx = document.getElementById('myChart').getContext('2d');
                    var chart = new Chart(ctx, {
                        // The type of chart we want to create
                        type: 'line',

                        // The data for our dataset
                        data: {
                            labels: [donnee.resultat[0].annee, donnee.resultat[1].annee, donnee.resultat[2].annee, donnee.resultat[3].annee, donnee.resultat[4].annee, donnee.resultat[5].annee],
                            datasets: [
                                {
                                    label: "prix moyen villa",
                                    borderColor: '#FF0004',
                                    data: [donnee.resultat[0].moyennePrixVilla, donnee.resultat[1].moyennePrixVilla, donnee.resultat[2].moyennePrixVilla, donnee.resultat[3].moyennePrixVilla, donnee.resultat[4].moyennePrixVilla, donnee.resultat[5].moyennePrixVilla],
                                },
                                {
                                    label: "prix moyen maison",
                                    borderColor: '#B75814',
                                    data: [donnee.resultat[0].moyennePrixMaison, donnee.resultat[1].moyennePrixMaison, donnee.resultat[2].moyennePrixMaison, donnee.resultat[3].moyennePrixMaison, donnee.resultat[4].moyennePrixMaison, donnee.resultat[5].moyennePrixMaison],
                                },
                                {
                                    label: "prix moyen terrain",
                                    borderColor: '#49FA14',
                                    data: [donnee.resultat[0].moyennePrixTerrain, donnee.resultat[1].moyennePrixTerrain, donnee.resultat[2].moyennePrixTerrain, donnee.resultat[3].moyennePrixTerrain, donnee.resultat[4].moyennePrixTerrain, donnee.resultat[5].moyennePrixTerrain],
                                },
                                {
                                    label: "prix moyen appartement",
                                    borderColor: '#4214FA',
                                    data: [donnee.resultat[0].moyennePrixAppartement, donnee.resultat[1].moyennePrixAppartement, donnee.resultat[2].moyennePrixAppartement, donnee.resultat[3].moyennePrixAppartement, donnee.resultat[4].moyennePrixAppartement, donnee.resultat[5].moyennePrixAppartement],
                                },

                            ]
                        },

                        // Configuration options go here
                        options: {
                            legend: {
                                position: 'bottom'
                            }
                        }
                    });
                    $("#chargement").hide();
                    //$('#graph').show();
                },
                error: function () {
                    alert("une erreur s'est produite...")
                }
            });
    };
    function GetStat() {
        //$('#tablePrix').attr('class', 'btn btn-success');
        //    $('#graphique').attr('class', 'btn btn-danger');
        //    $('#poi').attr('class', 'btn btn-danger');
        //    $('#comment').attr('class', 'btn btn-danger');

            //$('#graph').hide();
            //$('#poiView').hide();
            //$('#commentView').hide();

            $("#chargement").show();

            var codePost = $('#codePost').val();
            var anneeRecherche = 2010;
            $.ajax({
                type: 'GET',
                datatype: 'json',
                url: '@Url.Action("GetJsonTablePriceStat", "Stat")',
                data: { anneeRecherchee: anneeRecherche, codePostal: codePost, },
                success: function (donnee) {
                    var table = '<table class="table" id="tableStat"> <thead> <tr> <th>type</th><th>2000</th><th>2014</th><th>2015</th> </tr> </thead> <tbody>';
                    var x = 0;
                    while (x < 4) {
                        table = table + '<tr> <td>' + donnee.resultat[x].type + '</td><td>' + donnee.resultat[x].anneeRecherche + '</td><td>' + donnee.resultat[x].anneePrecedente + '</td><td>' + donnee.resultat[x].anneeCourante + '</td> </tr>'
                        x += 1;
                    }
                    table += ' </tbody> </table>';

                    $("#chargement").hide();
                    
                    //$('#tablePrixView').show();
                    $('#tablePrixView').html(table);
                    

                },
                error: function () {
                    alert("une erreur s'est produite...")
                }
            })
    }

   
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap"></script>




