@model ImmoWhatApp.Models.Commune

@{
    ViewBag.Title = "MainPage";
}


<div class="row" style="margin:0;margin-right:0px;margin-left:0px;height:100%;">

    @*  LA PARTIE NAVIGATION  *@
    <div class="d-inline-flex flex-column align-content-center col-auto col-md-2 col-lg-3 col-xl-2 col-lg-2 h-100 w-100" style="margin-right:0px;padding:0px;padding-right:-15px;padding-left:-15px;">
        <div class="d-inline-flex flex-column justify-content-start align-content-center flex-wrap m-auto col-lg-12" style="padding-left:0px;padding-right:0px;height:100%;width:90%;">
            <div class="row" style="height:5%;width:100%;margin-right:0px;margin-left:0px;">
                <div class="col" style="padding-right:0px;padding-left:0px;width:100%;">
                    <div class="d-flex flex-row justify-content-center align-items-center" style="height:100%;background-color:rgba(0,0,0,0.35);color:rgba(255,255,255,0);width:100%;">
                        <div class="input-group" style="width:100%;height:100%;">
                            <div class="input-group-prepend"></div>
                            <input id="inputComm" class="form-control" type="text" style="font-size:0.8em;">
                            <div class="input-group-append">
                                <button id="btnValidCommune" class="btn btn-primary d-flex" type="button"><span class="oi" data-glyph="magnifying-glass" title="magnifying-glass" aria-hidden="true"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters d-flex" style="width:100%;margin-right:0px;margin-left:0px;height:5%;">
                <div class="col" style="width:100%;height:100%;">
                    <div id="menuInfoCommune" class="d-flex flex-row justify-content-center align-items-center" style="height:100%;background-color:#000000;color:rgb(204,185,14);width:100%;">
                        <span>@Model.CodePostal @Model.Localite</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-right:0px;margin-left:0px;height:15%;">
                <div class="col-lg-12 col-xl-12 offset-xl-0 col-lg-12" style="padding-right:0px;padding-left:0px;height:100%;width:100%;">
                    <div id="typeBien" class="d-flex flex-row justify-content-around align-self-center flex-wrap col-lg-12" style="padding-right:0px;padding-left:0px;">
                        <button id="maison" class="btnTypeBien btn btn-outline-dark btn-sm col-lg-5" type="button" style="height:40%;margin:0px;margin-top:8px;margin-bottom:4px;font-size:0.7em;">@Resource.maison</button>
                        <button id="appartement" class="btnTypeBien btn btn-outline-light btn-block btn-sm col-lg-5" type="button" style="margin-top:8px;margin-bottom:4px;height:40%;font-size:0.7em;">@Resource.appartement</button>
                        <button id="terrain" class="btnTypeBien btn btn btn-outline-light col-lg-5" type="button" style="height:40%;margin-top:4px;margin-bottom:8px;font-size:0.7em;padding-top:4px;padding-right:8px;padding-bottom:4px;padding-left:8px;">@Resource.terrain</button>
                        <button id="villa" class="btnTypeBien btn btn-outline-light col-lg-5" type="button" style="margin-top:4px;margin-bottom:8px;font-size:0.7em;height:40%;padding-top:4px;padding-right:8px;padding-bottom:4px;padding-left:8px;">@Resource.villa</button>
                    </div>
                </div>
            </div>
            <div class="row no-gutters d-flex" style="width:100%;margin-right:0px;margin-left:0px;height:10%;">
                <div class="col d-flex flex-column justify-content-center align-items-center align-content-center" style="width:100%;">
                    <div class="d-flex flex-column justify-content-lg-around align-items-center align-content-center" style="height:100%;background-color:#000000;color:rgb(204,185,14);width:100%;">
                        <span class="row">prix moyen à @Model.Localite:</span>

                        <span class="row" id="prixMoyen"></span>
                    </div>
                </div>
            </div>
            <div class="row no-gutters d-flex justify-content-center align-items-center" style="margin-right:0px;margin-left:0px;width:100%;height:15%;">
                <div id="GroupStat" class="col d-flex flex-row justify-content-start align-items-center align-content-center" style="height:100%;width:100%;">
                    <div class="d-flex flex-row justify-content-around align-items-center align-content-center align-self-center flex-wrap col-lg-12" style="padding-right:0px;padding-left:0px;height:auto;">
                        <button id="tablePrix" class="btn btn-outline-light btn-sm col-lg-5" type="button" style="height:40%;margin:0px;margin-top:5px;margin-bottom:5px;font-size:0.7em;">table des prix</button>
                        <div id="graphique" class="btn btn-outline-light btn-sm col-lg-5" type="button" style="margin-top:8px;margin-bottom:4px;height:40%;font-size:0.7em;">@Html.ActionLink("graph", "Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = Model.latitude, lon = Model.longitude, id = Model.id, langue = Model.langue, province = Model.Province, bouton = "graph" }, "")</div>
                        <button id="POI" class="btn btn-outline-light col-lg-5" type="button" style="height:40%;margin-top:4px;margin-bottom:8px;font-size:0.7em;padding-top:4px;padding-right:8px;padding-bottom:4px;padding-left:8px;">@Html.ActionLink("POI", "Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = Model.latitude, lon = Model.longitude, id = Model.id, langue = Model.langue, province = Model.Province, bouton = "poi" }, null)</button>
                        <button id="commentaire" class="btn btn-outline-light align-items-center flex-wrap col-lg-5" type="button" style="margin-top:4px;margin-bottom:8px;font-size:0.7em;padding-top:4px;padding-right:8px;padding-bottom:4px;padding-left:8px;">@Html.ActionLink("commentaire", "Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = Model.latitude, lon = Model.longitude, id = Model.id, langue = Model.langue, province = Model.Province, bouton = "comment" }, null)</button>
                    </div>
                </div>
            </div>

            <div class="row  d-flex flex-column justify-content-lg-center align-items-center align-content-center align-self-center" style="margin-right:0px;margin-left:0px;width:100%;height:50%;margin-top:0%;margin-bottom:0%">
                <div class="col-auto d-flex flex-column justify-content-center align-items-center align-self-center" style="width:100%;height:100%; ">
                    <div id="listePrix" class="list-group d-flex flex-column justify-content-end align-items-center" style="width:100%;height:100%;">
                        <a id="prix1" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix2" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix3" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix4" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix5" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix6" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix7" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix8" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix9" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                        <a id="prix10" class="list-group-item list-group-item-action d-flex flex-column justify-content-start align-items-center align-content-center" style="height:10%;padding:0;padding-top:0px;width:100%;border:groove;margin-bottom:0px;padding-bottom:0px;">
                            <span class="d-flex justify-content-center align-items-center align-content-around" style="width:100%;height:90%;"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  LA PARTIE CARTE  *@
    <div id="carte" class="col-md-7 col-lg-2 col-xl-7 col-lg-6 m-0 p-0" style="">
        <div id="map" style="width:100%; height:100%; background-color:#0038ff;"></div>
    </div>

    @*  LA PARTIE BIENS A VENDRE  *@
    <div class="col-lg-3 col-xl-3 h-100 ">
        <div class="row" style="height:90%">
            <div class="col-12 zoneMaison h-100" id="az">

            </div>
        </div>
        <div class="row " style="height:10%; ">
            <div class="col-12 ">
                @{

                    if (Session["moi"] != null)
                    {
                        <button id="btnAjoutBien" class="btn btn-outline-light col-8 offset-2">ajouter un bien</button>
                    }
                    else
                    {
                        <a tabindex="0" class="btn btn-lg btn-danger col-8 offset-2" role="button" data-toggle="popover" data-trigger="focus" title="attention" data-content="Veuillez vous connecter pour mettre votre bien en vente!">@Resource.ajouterUnBien</a>

                    }
                }
            </div>
        </div>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>


<div id="modal_commune" style="display:none; ">
    <p id="modalTexte" class="modal-contents"></p>
</div>
@*<img class="imgHouse" src="~/img/Bruxelles.jpg" alt="Photo de montagne" />*@
@*<img src="~/img/Bruxelles.jpg" />*@
<script type="text/javascript">



    //CHARGER LA LISTE DE BIENS EN FONCTION DU CODE POSTEL ET DU TYPE

    function loadListeBiens(codePostal, type) {

         $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetListBiensFromCPAndType", "Bien")',
            data: { codePostale: codePostal, type: type },
            success: function (donnee) {
                var i = donnee.listeBiens.length;
                var tableString = "";
                for (var x = 0; x < i; x++) {
                    var img = donnee.listeBiens[x].idBien + "-0.jpg";
                    //alert(img);
                    tableString += '<a href="#" ><div  id="' + donnee.listeBiens[x].idBien +'" class="bien card bg-dark text-white">' +
                        '<img style="max-height:175px" id="img' + donnee.listeBiens[x].idBien + '" class="card-img" src="/img/bien/' + img +'" alt="pas d image" />' +
                        '<div class="card-img-overlay">' +
                        '<h5 class="card-title">Card title</h5>' +
                        '<p style="color:black; background-color:rgba(177, 174, 174, 0.60)" class="card-text">' + donnee.listeBiens[x].prix + '€<br/>' + donnee.listeBiens[x].superficie + 'm²<br />' + donnee.listeBiens[x].nbChambres + ' chambres</p>'+

                        '</div>' +
                        '</div ></a>';


                    //tableString += '<a id="' + donnee.listeBiens[x].idBien+'" href="#" class="bien list-group-item list-group-item-action flex-column align-items-start">' +
                    //    '<div class="d-flex w-100 justify-content-between">' +
                    //    '<h5 class="mb-1">maison</h5>' +
                    //    '<small class="mt-1">' + donnee.listeBiens[x].prix+'€</small>' +
                    //    '</div>' +
                    //    '<div class="d-flex w-100 justify-content-between">' +
                    //    '<img id="img' + donnee.listeBiens[x].idBien +'" class="imgHouse" src="/img/bien/'+img+'" alt="pas d image" />' +
                    //    '<small class="mt-3">' +
                    //    donnee.listeBiens[x].superficie + 'm²<br />' +
                    //    donnee.listeBiens[x].nbChambres + ' chambres<br />' +
                    //    '<br />' +
                    //    '</small>' +
                    //    '</div>' +
                    //    '</a>';
                }
                $('.zoneMaison').html(tableString);
                //for (x = 0; x < i; x++) {
                //    $('#img' + donnee.listeBiens[x].idBien).attr("src", "/img/logo.png");
                //    alert('#img' + donnee.listeBiens[x].idBien);
                //}
                $('.bien').click(function () {
                    if ('@Session["moi"]' != "") {
                        var id = $(this).attr("id")
                        alert(id);
                        var url = "../Bien/voirLeBien?idBien=" + id;
                        window.location.href = url;
                    }
                    else {
                        alert("pas connecté");
                    }

                    //voirLeBien(id);
                })
            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }
    function voirLeBien(idBien) {
        alert(idBien);
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("voirLeBien", "Bien")',
            data: { idBien: idBien },
            success: function (donnee) {
                alert('ok')
            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }


    @*function loadListeBiens(codePostal, type) {

         $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetListBiensFromCPAndType", "Bien")',
            data: { codePostale: codePostal, type: type },
            success: function (donnee) {
                var i = donnee.listeBiens.length;
                var tableString = '<ul id="ert">';
                for (var x = 0; x < i; x++) {
                    var img = donnee.listeBiens[x].idBien + "-0.jpg";
                    //alert(img);
                    tableString += '<li class ="lis" id="' + donnee.listeBiens[x].idBien +'"><a href="#" class="bien list-group-item list-group-item-action flex-column align-items-start">' +
                        '<div class="d-flex w-100 justify-content-between">' +
                        '<h5 class="mb-1">maison</h5>' +
                        '<small class="mt-1">' + donnee.listeBiens[x].prix+'€</small>' +
                        '</div>' +
                        '<div class="d-flex w-100 justify-content-between">' +
                        '<img id="img' + donnee.listeBiens[x].idBien +'" class="imgHouse" src="/img/bien/'+img+'" alt="pas d image" />' +
                        '<small class="mt-3">' +
                        donnee.listeBiens[x].superficie + 'm²<br />' +
                        donnee.listeBiens[x].nbChambres + ' chambres<br />' +
                        '<br />' +
                        '</small>' +
                        '</div>' +
                        '</a></li>';
                }
                tableString += "</ul>"
                $('#qqq').append(tableString);
                //for (x = 0; x < i; x++) {
                //    $('#img' + donnee.listeBiens[x].idBien).attr("src", "/img/logo.png");
                //    alert('#img' + donnee.listeBiens[x].idBien);
                //}
                $('.lis').click(function () {
                    alert("oki");
                    var id = $(this).attr("id")
                    alert(id);
                })
                alert("oki")

            },
            error: function (error) {
                alert(error.responseText);
            }
        })

    }*@
</script>

<script>
    //$(function () {
    //    $('[data-toggle="popover"]').popover({ delay: { "show": 50, "hide": 10 }, placement: 'top' })
    //})

    $('#btnAjoutBien').click(function () {
        location.href = '@Url.Action("AddNewBien", "Bien")';
    })
    $('#tablePrix').click(function () {
        var codePostal = '@Model.CodePostal';

        var commune = '@Model.Localite';
        var lat = '@Model.latitude';
        var lon = '@Model.longitude';
        var id = '@Model.id';
        var langue = '@Model.langue';
        var province = '@Model.Province';
        var bouton = "tablePrix";


        @*window.location.href = '@Html.Action("Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = @Model.latitude, lon = @Model.longitude, id = @Model.id, langue = @Model.langue, province = @Model.Province, bouton = "graph" })';*@
        @*$.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("Graphic", "Home")',
            data: { codePostal: codePostal, commune: commune, lat: lat, lon: lon, id: id, langue: langue, province: province, bouton: bouton },
            success: function (donnee) {

            },
            error: function (error) {
                alert(error.responseText);
            }
        });*@


    });

    $('#testCoord').click(function () {
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetCommuneContourPointsInJson", "Commune")',
            success: function (donnee) {
                alert("oki")
            },
            error: function (error) {
                alert(error.responseText);
            }
        }

        )
    });


    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>
@*<script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Popularity'],
                ['Germany', 200],
                ['United States', 300],
                ['Brazil', 400],
                ['Canada', 500],
                ['France', 600],
                ['RU', 700]
            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>*@
<script>
    var classCommune;

    function GetListeClassePrix(typeBien) {
        var annee = @Session["HighestYear"];
        var codePostal = @Model.CodePostal;
        var type = typeBien;
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetAverageClass2", "Commune")',
            data: { annee: annee, typeBien: type, codePostale: codePostal, },
            success: function (donnee) {
                var x = 0
                while (x < 10) {
                    $('#prix' + (x + 1)).css('background-color', donnee.tablePrix[x].refColor);
                    $('#prix' + (x + 1)).text(donnee.tablePrix[x].valMin + " / " + donnee.tablePrix[x].valMax);
                    x += 1;
                }
                $('#listePrix a').css('border-style', 'none');
                $('#prix' + (donnee.classePrix)).css('border-style', 'inset');
                $('#prix' + (donnee.classePrix)).css('border-color', 'black');
                $('#prixMoyen').html(donnee.prixMoyen+"€")


                reponse($.map(donnee.commune, function (objet) {
                    return {
                        label: objet.Localite + " ( " + objet.CodePostal + " )",
                        value: objet.Localite,
                        id: objet.id
                    }
                }));
            }
        });
    }

    $(document).ready(function () {


        var typeBien = @ViewBag.typeBien;


        loadListeBiens(@Model.CodePostal, typeBien);

        if (typeBien == 1) {
            $('#terrain').removeClass("btn-outline-light");
            $('#terrain').addClass("btn-outline-dark");
            GetListeClassePrix("terrain")
        }
        else if (typeBien == 2) {
            $('#maison').removeClass("btn-outline-light");
            $('#maison').addClass("btn-outline-dark");
            GetListeClassePrix("maison")
        }
        else if (typeBien == 3) {
            $('#villa').removeClass("btn-outline-light");
            $('#villa').addClass("btn-outline-dark");
            GetListeClassePrix("villa")
        }
        else if (typeBien == 4) {
            $('#appartement').removeClass("btn-outline-light");
            $('#appartement').addClass("btn-outline-dark");
            GetListeClassePrix("appartement")
        }

        $("#inputComm").autocomplete({
                        autoFocus: true,
                        source: function (requete, reponse) {
                            var name = $('#inputComm').val();
                            //alert(name);
                            $.ajax({
                                type: 'GET',
                                datatype: 'json',
                                data: { nom: name.toLowerCase() },
                                url: '@Url.Action("GetCommunesByNameInJson", "Commune")',
                                success: function (donnee) {
                                    reponse($.map(donnee.commune, function (objet) {
                                        return {
                                            label: objet.Localite + " ( " + objet.CodePostal + " )",
                                            value: objet.Localite,
                                            id: objet.id
                                        }
                                    }));
                                }
                            })
                        },
            minLength: 3,

            select: function (event, ui) { // lors de la sélection d'une proposition
                    idCommune = ui.item.id
            }

                })

    });

    $('#typeBien').click(function (event) {
        var type = $(event.target).attr('id');
        $('.btnTypeBien').removeClass("btn-outline-dark");
        $('.btnTypeBien').addClass("btn-outline-light");
        $("#" + type).removeClass("btn-outline-light");
        $("#" + type).addClass("btn-outline-dark");

        var idType = 0;
        if (type == "terrain")
            idType = 1;
        else if (type == "maison")
            idType = 2;
        else if (type == "villa")
            idType = 3;
        else if (type == "appartement")
            idType = 4;
        loadListeBiens(@Model.CodePostal, idType)
        GetListeClassePrix(type)

    });

    $('#btnValidCommune').click(function () {
        var nomCommune = $('#inputComm').val();
        $.ajax({
            type: 'GET',
            datatype: 'json',
            data: { nomCommune: nomCommune },
            url: '@Url.Action("checkIfCommuneExists", "Commune")',
            success: function (donnee) {
                if (donnee.result == "OK") {
                    var nom = donnee.nom;
                    var url = "/Home/MainPage?nomCommune=" + nom;
                    window.location.href = url;
                }
                else {
                    $('#modalTexte').html("commune inexistante");
                    $('#modal_commune').dialog({
                        open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                        resizable: false,
                        height: "auto",
                        width: "400",
                        modal: true,
                        title: 'commune inexistante',
                        buttons: {
                            "ok": function () { $(this).dialog("close") }
                        }
                    })
                }
            }
        })
    });
</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap"></script>
