@model ImmoWhatApp.Models.Commune

@{
    ViewBag.Title = "MainPage";
}

<div id="corpsMainPage">
    <div class="row">
        <nav id="navigation" class="col-lg-2">

            <div class="row">
                <div id="menuNav" class="col-lg-12">
                    Home/carte-prix/@Model.Localite
                </div>
                <button id="testCoord">test des coordonnees</button>
            </div>
            <div class="row" style="margin-top:3%; margin-bottom:3%">
                <div class="input-group col-lg-10 offset-lg-1">
                    <input id="inputComm" type="text" class="form-control" placeholder="@Model.Localite" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="btnValidCommune" class="btn btn-success" type="button"><span class="oi" data-glyph="magnifying-glass" title="magnifying-glass" aria-hidden="true"></span><span class="glyphicon glyphicon-envelope"></span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="menuInfoCommune" class="col-lg-12">
                    @Model.CodePostal @Model.Localite
                </div>
            </div>

            <div id="typeBien" class="d-flex justify-content-around">
                <div id="maison" role="button" class="btnTypeBien p-1 btn btn-outline-light">@Resource.maison</div>
                <div id="appartement" role="button" class="btnTypeBien p-1 btn btn-outline-light">@Resource.appartement</div>
                <div id="terrain" role="button" class="btnTypeBien p-1 btn btn-outline-light">@Resource.terrain</div>
                <div id="villa" role="button" class="btnTypeBien p-1 btn btn-outline-light">@Resource.villa</div>
            </div>
            @*<div style="width:20%" id="maison" class="btnTypeBien btn btn-danger">house</div>
                <div style="width:20%" id="appartement" class="btnTypeBien btn btn-danger">flat</div>
                <div style="width:20%" id="villa" class="btnTypeBien btn btn-danger">villa</div>
                <div style="width:20%" id="terrain" class="btnTypeBien btn btn-danger">field</div>*@

            <div class="row">
                <div id="menuPrixMoyen" class="col-lg-12 h-50">
                    <span>prix moyen à @Model.Localite:</span>
                    <br>
                    <span id="prixMoyen"></span>
                </div>
            </div>
            <div id="GroupStat" class="row justify-content-lg-center">
                <div class="d-flex justify-content-around w-100">
                    <div role="button" id="tablePrix" class="btn btn-outline-light">table des prix</div>
                    <div role="button" id="graphique" class="btn btn-outline-light">@Html.ActionLink("graph", "Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = Model.latitude, lon = Model.longitude, id = Model.id, langue = Model.langue, province = Model.Province, bouton = "graph" }, null)</div>
                </div>
                <div class="d-flex justify-content-around w-100">
                    <div id="POI" class="btn btn-outline-light">@Html.ActionLink("POI", "Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = Model.latitude, lon = Model.longitude, id = Model.id, langue = Model.langue, province = Model.Province, bouton = "poi" }, null)</div>
                    <div id="commentaire" class="btn btn-outline-light">@Html.ActionLink("commentaire", "Graphic", "Home", new { codePostal = Model.CodePostal, commune = @Model.Localite, lat = Model.latitude, lon = Model.longitude, id = Model.id, langue = Model.langue, province = Model.Province, bouton = "comment" }, null)</div>
                </div>
            </div>

            <div class="row">
                <div class="list-group col-lg-12" style="position: relative" id="listePrix">
                    <a id="prix1" href="#" class=" list-group-item-action"></a>
                    <a id="prix2" href="#" class=" list-group-item-action"></a>
                    <a id="prix3" href="#" class=" list-group-item-action"></a>
                    <a id="prix4" href="#" class=" list-group-item-action"></a>
                    <a id="prix5" href="#" class=" list-group-item-action"></a>
                    <a id="prix6" href="#" class=" list-group-item-action"></a>
                    <a id="prix7" href="#" class=" list-group-item-action"></a>
                    <a id="prix8" href="#" class=" list-group-item-action"></a>
                    <a id="prix9" href="#" class=" list-group-item-action"></a>
                    <a id="prix10" href="#" class=" list-group-item-action"></a>
                </div>
                @*<ul style="height:8vh" class="col-lg-12 " id="listePrix">
                        LISTE DES PRIX
                    </ul>*@
            </div>

        </nav>
        <div id="carte" class="col-lg-7">
            <div id="map" style="width:100%; height:100%;"></div>
        </div>
        <div class="col-lg-3 navLatD bt container">
            <div class="">
                <div class="zoneMaison" id="az">

                </div>
            </div>
            <br />
            <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="attention" data-content="Veuillez vous connecter pour mettre votre bien en vente!">@Resource.ajouterUnBien</a>

            @{

                if (Session["moi"] != null)
                {
                    <button id="btnAjoutBien" class="btn btn-outline-light">ajouter un bien</button>
                }
                else
                {
                    <a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="attention" data-content="Veuillez vous connecter pour mettre votre bien en vente!">@Resource.ajouterUnBien</a>

                }
            }
        </div>
    </div>
</div>
<div id="modal_commune" style="display:none; ">
    <p id="modalTexte" class="modal-contents"></p>
</div>
@*<img class="imgHouse" src="~/img/Bruxelles.jpg" alt="Photo de montagne" />*@
@*<img src="~/img/Bruxelles.jpg" />*@
<script type="text/javascript">



    //CHARGER LA LISTE DE BIENS EN FONCTION DU CODE POSTEL ET DU TYPE

    function loadListeBiens(codePostal, type) {

         $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetListBiensFromCPAndType", "Bien")',
            data: { codePostale: codePostal, type: type },
            success: function (donnee) {
                var i = donnee.listeBiens.length;
                var tableString = "";
                for (var x = 0; x < i; x++) {
                    var img = donnee.listeBiens[x].idBien + "-0.jpg";
                    //alert(img);
                    tableString += '<a href="#" ><div  id="' + donnee.listeBiens[x].idBien +'" class="bien card bg-dark text-white">' +
                        '<img style="max-height:175px" id="img' + donnee.listeBiens[x].idBien + '" class="card-img" src="/img/bien/' + img +'" alt="pas d image" />' +
                        '<div class="card-img-overlay">' +
                        '<h5 class="card-title">Card title</h5>' +
                        '<p style="color:black; background-color:rgba(177, 174, 174, 0.60)" class="card-text">' + donnee.listeBiens[x].prix + '€<br/>' + donnee.listeBiens[x].superficie + 'm²<br />' + donnee.listeBiens[x].nbChambres + ' chambres</p>'+

                        '</div>' +
                        '</div ></a>';


                    //tableString += '<a id="' + donnee.listeBiens[x].idBien+'" href="#" class="bien list-group-item list-group-item-action flex-column align-items-start">' +
                    //    '<div class="d-flex w-100 justify-content-between">' +
                    //    '<h5 class="mb-1">maison</h5>' +
                    //    '<small class="mt-1">' + donnee.listeBiens[x].prix+'€</small>' +
                    //    '</div>' +
                    //    '<div class="d-flex w-100 justify-content-between">' +
                    //    '<img id="img' + donnee.listeBiens[x].idBien +'" class="imgHouse" src="/img/bien/'+img+'" alt="pas d image" />' +
                    //    '<small class="mt-3">' +
                    //    donnee.listeBiens[x].superficie + 'm²<br />' +
                    //    donnee.listeBiens[x].nbChambres + ' chambres<br />' +
                    //    '<br />' +
                    //    '</small>' +
                    //    '</div>' +
                    //    '</a>';
                }
                $('.zoneMaison').html(tableString);
                //for (x = 0; x < i; x++) {
                //    $('#img' + donnee.listeBiens[x].idBien).attr("src", "/img/logo.png");
                //    alert('#img' + donnee.listeBiens[x].idBien);
                //}
                $('.bien').click(function () {
                    if ('@Session["moi"]' != "") {
                        var id = $(this).attr("id")
                        alert(id);
                        var url = "../Bien/voirLeBien?idBien=" + id;
                        window.location.href = url;
                    }
                    else {
                        alert("pas connecté");
                    }

                    //voirLeBien(id);
                })
            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }
    function voirLeBien(idBien) {
        alert(idBien);
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("voirLeBien", "Bien")',
            data: { idBien: idBien },
            success: function (donnee) {
                alert('ok')
            },
            error: function (error) {
                alert(error.responseText);
            }
        })
    }


    @*function loadListeBiens(codePostal, type) {

         $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetListBiensFromCPAndType", "Bien")',
            data: { codePostale: codePostal, type: type },
            success: function (donnee) {
                var i = donnee.listeBiens.length;
                var tableString = '<ul id="ert">';
                for (var x = 0; x < i; x++) {
                    var img = donnee.listeBiens[x].idBien + "-0.jpg";
                    //alert(img);
                    tableString += '<li class ="lis" id="' + donnee.listeBiens[x].idBien +'"><a href="#" class="bien list-group-item list-group-item-action flex-column align-items-start">' +
                        '<div class="d-flex w-100 justify-content-between">' +
                        '<h5 class="mb-1">maison</h5>' +
                        '<small class="mt-1">' + donnee.listeBiens[x].prix+'€</small>' +
                        '</div>' +
                        '<div class="d-flex w-100 justify-content-between">' +
                        '<img id="img' + donnee.listeBiens[x].idBien +'" class="imgHouse" src="/img/bien/'+img+'" alt="pas d image" />' +
                        '<small class="mt-3">' +
                        donnee.listeBiens[x].superficie + 'm²<br />' +
                        donnee.listeBiens[x].nbChambres + ' chambres<br />' +
                        '<br />' +
                        '</small>' +
                        '</div>' +
                        '</a></li>';
                }
                tableString += "</ul>"
                $('#qqq').append(tableString);
                //for (x = 0; x < i; x++) {
                //    $('#img' + donnee.listeBiens[x].idBien).attr("src", "/img/logo.png");
                //    alert('#img' + donnee.listeBiens[x].idBien);
                //}
                $('.lis').click(function () {
                    alert("oki");
                    var id = $(this).attr("id")
                    alert(id);
                })
                alert("oki")

            },
            error: function (error) {
                alert(error.responseText);
            }
        })

    }*@
</script>

<script>
    //$(function () {
    //    $('[data-toggle="popover"]').popover({ delay: { "show": 50, "hide": 10 }, placement: 'top' })
    //})

    $('#btnAjoutBien').click(function () {
        location.href = '@Url.Action("AddNewBien", "Bien")';
    })
    $('#tablePrix').click(function () {

        var codePostal = @Model.CodePostal;
        var commune = @Model.Localite;
        var lat = @Model.latitude;
        var lon = @Model.longitude;
        var id = @Model.id;
        var langue = @Model.langue;
        var province = "test";
        var bouton = "tablePrix";
        alert(codePostal);
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("Graphic", "Home")',
            data: { codePostal: codePostal, commune: commune, lat: lat, lon: lon, id: id, langue: langue, province: province, bouton: bouton },
            success: function (donnee) {
                alert("oki")
            },
            error: function (error) {
                alert(error.responseText);
            }
        });


    });

    $('#testCoord').click(function () {
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetCommuneContourPointsInJson", "Commune")',
            success: function (donnee) {
                alert("oki")
            },
            error: function (error) {
                alert(error.responseText);
            }
        }

        )
    });


    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>
@*<script type="text/javascript">
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Popularity'],
                ['Germany', 200],
                ['United States', 300],
                ['Brazil', 400],
                ['Canada', 500],
                ['France', 600],
                ['RU', 700]
            ]);

            var options = {};

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>*@
<script>
    var classCommune;

    function GetListeClassePrix(typeBien) {
        var annee = @Session["HighestYear"];
        var codePostal = @Model.CodePostal;
        var type = typeBien;
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetAverageClass2", "Commune")',
            data: { annee: annee, typeBien: type, codePostale: codePostal, },
            success: function (donnee) {
                var x = 0
                while (x < 10) {
                    $('#prix' + (x + 1)).css('background-color', donnee.tablePrix[x].refColor);
                    $('#prix' + (x + 1)).text(donnee.tablePrix[x].valMin + " / " + donnee.tablePrix[x].valMax);
                    x += 1;
                }
                $('#listePrix a').css('border-style', 'none');
                $('#prix' + (donnee.classePrix)).css('border-style', 'inset');
                $('#prix' + (donnee.classePrix)).css('border-color', 'purple');
                $('#prixMoyen').html(donnee.prixMoyen+"€")


                reponse($.map(donnee.commune, function (objet) {
                    return {
                        label: objet.Localite + " ( " + objet.CodePostal + " )",
                        value: objet.Localite,
                        id: objet.id
                    }
                }));
            }
        });
    }

    $(document).ready(function () {


        var typeBien = @ViewBag.typeBien;


        loadListeBiens(@Model.CodePostal, typeBien);

        if (typeBien == 1) {
            $('#terrain').removeClass("btn-outline-light");
            $('#terrain').addClass("btn-outline-dark");
            GetListeClassePrix("terrain")
        }
        else if (typeBien == 2) {
            $('#maison').removeClass("btn-outline-light");
            $('#maison').addClass("btn-outline-dark");
            GetListeClassePrix("maison")
        }
        else if (typeBien == 3) {
            $('#villa').removeClass("btn-outline-light");
            $('#villa').addClass("btn-outline-dark");
            GetListeClassePrix("villa")
        }
        else if (typeBien == 4) {
            $('#appartement').removeClass("btn-outline-light");
            $('#appartement').addClass("btn-outline-dark");
            GetListeClassePrix("appartement")
        }

        $("#inputComm").autocomplete({
                        autoFocus: true,
                        source: function (requete, reponse) {
                            var name = $('#inputComm').val();
                            //alert(name);
                            $.ajax({
                                type: 'GET',
                                datatype: 'json',
                                data: { nom: name.toLowerCase() },
                                url: '@Url.Action("GetCommunesByNameInJson", "Commune")',
                                success: function (donnee) {
                                    reponse($.map(donnee.commune, function (objet) {
                                        return {
                                            label: objet.Localite + " ( " + objet.CodePostal + " )",
                                            value: objet.Localite,
                                            id: objet.id
                                        }
                                    }));
                                }
                            })
                        },
            minLength: 3,

            select: function (event, ui) { // lors de la sélection d'une proposition
                    idCommune = ui.item.id
            }

                })

    });

    $('#typeBien').click(function (event) {
        var type = $(event.target).attr('id');

        $('.btnTypeBien').removeClass("btn-outline-dark");
        $('.btnTypeBien').addClass("btn-outline-light");
        $("#" + type).removeClass("btn-outline-light");
        $("#" + type).addClass("btn-outline-dark");

        var idType = 0;
        if (type == "terrain")
            idType = 1;
        else if (type == "maison")
            idType = 2;
        else if (type == "villa")
            idType = 3;
        else if (type == "appartement")
            idType = 4;
        loadListeBiens(@Model.CodePostal, idType)
        GetListeClassePrix(type)

    });

    $('#btnValidCommune').click(function () {
        var nomCommune = $('#inputComm').val();
        $.ajax({
            type: 'GET',
            datatype: 'json',
            data: { nomCommune: nomCommune },
            url: '@Url.Action("checkIfCommuneExists", "Commune")',
            success: function (donnee) {
                if (donnee.result == "OK") {
                    var nom = donnee.nom;
                    var url = "/Home/MainPage?nomCommune=" + nom;
                    window.location.href = url;
                }
                else {
                    $('#modalTexte').html("commune inexistante");
                    $('#modal_commune').dialog({
                        open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                        resizable: false,
                        height: "auto",
                        width: "400",
                        modal: true,
                        title: 'commune inexistante',
                        buttons: {
                            "ok": function () { $(this).dialog("close") }
                        }
                    })
                }
            }
        })
    });
</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap"></script>
